@model Common.AspNetCore.DataTableConfig.DataTableModel
@{
    ViewData["Title"] = "مدیریت بخش Http ها";
}

<div class="row g-4 mb-4">
   
</div>
<!-- Roles List Table -->
<div class="card">
    <div class="card-header border-bottom">
        <h5 class="card-title">مدیریت  مانیتور های http</h5>

    </div>
    <div class="card-datatable table-responsive">
        <Dt-Table TableModel="Model"></Dt-Table>
    </div>
</div>


